name: Docs
on: 
  push:
    tags:
      - 'release/v*' 
  pull_request:
jobs:
  static:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: install
        run: python -m pip install .\[docs\]
      - name: portray
        run: python .github/workflows/_build.py on-github-pages -f
